<div id="tab-1" class="tab-content current">
    <% authors_and_reviews.each do |author,review| %>
  <div class="review">
  <p><b>By <i><%= author %></i> :</b> <%= review%></p><br>
  </div>
    <% end %>

</div>

