<select id="year-button" name='year'>
  <option value="Years" default selected>Year</option>
   <%=  years_array.each do |array| %>
    <option value=<%= array %>><%= array %></option>
  <% end %>
</select>


