*{
  margin: 0;
  padding: 0;
}
.float-left{
  border-radius: 8px;
  margin-left: auto;
  margin-right: auto;
  background-color: #D9E4E6;
  font-size: 20px;
  width: 80%;
  text-align: center;
  position: relative;
}
.float-left > div > div {
  position: relative;
  margin-top: -20%;
  border-bottom: 1px solid;
}
ul.tabs{
  border-radius: 8px;
  overflow: auto;
  margin: 0px;
  padding: 0px;
  /*list-style: none;*/
}
ul.tabs li{
  overflow: auto;
  background: none;
  color: gray;
  display: inline-block;
  padding: 10px 15px;
  cursor: pointer;
}
ul.tabs li.current{
  border-radius: 8px;
  background: #e1e8f4;
  color: black;
}
/*.tab-link.current{
  margin-left: 52px;
}*/
.tab-content{
  margin-top: 20%;
  text-align: start;
  display: none;
  background: #ededed;
}

.tab-content.current{
  /*margin-top: 20%;*/
  display: inherit;
}

.tabs{
  border-bottom: 1px solid black;
}
.container{
  border-radius: 8px;
  text-align: center;
  background-color: cornsilk;
  margin-top: 20%;
  margin-right: auto;
  margin-left: auto;
  width: 50%;
}
.container p{
  font-size: 20px;
  padding-top: 3%;
}

#search-form{
  padding-top: 4%;
  overflow: auto;
}

#search-form select{
  font-size: 16px;
}

#submit-button{
  background-color: white;
  border-radius: 8px;
  font-size: 16px;
}


